<!DOCTYPE html>
{% load colorfilter %}
<html>
<head>
    <title>hrEM</title> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-static">
                Analiza emocija
            </a>
            <a class="navbar-item is-static">
                Registracija
            </a>
            <a class="navbar-item is-static">
                Login
            </a>
        </div>
    </nav>
    <div class="d-flex justify-content-center section-bg">
        <div class="h-25 border rounded" style="padding: 4rem;box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3)">
          <form method="post">
          {% csrf_token %}
              {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <input type="submit" class="colorbutton" value="Log in">
          <br/>
          <br/>
          <a class="nav-link" href="/register">Create new account</a>
          </form>
        </div>
      </div>
</body>
</html>
